<html lang="sr">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/nav.ejs") %>

  <div class="about content">
    <h4>Ovaj sajt je deo projekta za učenje klijentskih i serverskih programskih jezika i povezanih web tehnologija a usput i da bude koristan široj zajednici đaka, roditelja i nastavnika. Namena sajta je da učenici dobiju kvalitetno pomoćno sredstvo za učenje kroz vežbanje u sastavljanja pitanja, odgovora i testova.</h4>

    <p>Sajt ima zadatke, pitanja i testove. Neki generatori matematičkih zadataka daju i rešenja a neki samo daju zadatke. Sva pitanja mogu da se koriste za nasumično (pre)ispitivanje a ona koja imaju upisane i odgovore mogu da se koriste i za automatsku izradu testova. Nakon što korisnik odabere oblasti i/ili lekcije sistem će prikazati da li su i za koje dostupni i odgovori a time i testovi. Pored automatskih testova biće na raspolaganju i opcija za kreiranje korisničkih testova nezavisnih od raspoloživih pitanja i odgovora u bazi podataka.</p>
    <br>
    <p>Ako poraste obim sajta i njegovog održavanja sajt će se finansirati od donacija a moguće i od statičkih reklama kao i dodatnih pogodnosti i mogućnosti za registrovane korisnike. Osnovne fukncije sajta opisane u prethodnom pasusu biće uvek dostupne svima jer ako su korisnici punili sajt pitanjima i odgovorima onda je podrazumevano da im bude i dostupan sadržaj kome su sami doprineli.</p>
    <br>
    <p>Radi lakoće programiranja u početku će sajt biće uađen u latinici a zatim proširen verzijama na ćirilici i engleskom jeziku.</p>
    <br>
    <p>Zbog vrste i obima materijala sajt je radi preglednosti optimizovan za stone, laptop i notbuk računare ali će se raditi na tome da bude koliko je moguće pregledan i na telefonima i tabletima.
    </p>
    <br>
    <p>Predloge, komentare, kritike i sugestije možete poslati preko <a href="/sajt/user"><u>korisničkog portala.</u></a></p>
    <br>
  </div>

  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/footer2.ejs") %>
</body>
</html>