<html lang="sr">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/nav.ejs") %>

  <div class="about content">
    <h2>Najčešće postavljana pitanja</h2>
    <h3 style="border:1px solid Tomato;">Stranica je u izradi...</h3>
    <p>Pogledati i ostale napomene na: <a href="/sajt/user"><u>korisničkom portalu</u></a></p>
    <br>
    <h4>Zašto na sajtu nema odgovora na sva pitanja?</h4>
    <p>Zato što, po Godingovoj teoremi nekompletnosti, u ovom svetu ili skup čenjenica nikada ne može biti kompletan ili sve činjenice nikada ne mogu biti dokazane. To je nešto slično onome što bi rekao Vitgenštajn da se ovaj svet može razumeti samo ako se neko popne iznad njega.</p>
    <p>Druga mogućnost je da korisnik koji je unosio pitanja nije uneo odgovore za neka od njih. To nije moguće potpuno iskontrolisati a svakako ne škodi da se odgovor potraži u knjizi ili svesci ;)</p>
  </div>

  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/footer2.ejs") %>
</body>
</html>