<html lang="sr">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/nav.ejs") %>

  <div class="about content">
    <h2>Registracija novih korisnika</h2>
    <h3 style="border:1px solid Tomato;">Stranica je u izradi...</h3>
    <br>
    <p>(U planu je da registrovani korisnici osim pristupa celom sajtu imaju i neke dodatne mogućnosti.).</p>
  </div>

  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/footer2.ejs") %>
</body>
</html>