<html lang="sr">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/nav.ejs") %>

  <div class="about content">
    <h2>Pravila upotrebe sajta</h2>
    <h3 style="border:1px solid Tomato;">Stranica je u izradi...</h3>
    <p>Ograđujem se od mogućih nepriličnih sadržaja koje korisnici sajta unose u formulare za kreiranje novih pitanja uključujući i linkove za tekstove, fotografije i video snimke. Molim da svaki takav sadržaj prijavite na mejl priložen na kontakt strani uz navođenje nekog od prepoznatljivih podataka kao što su broj pitanja, obrazovni profil i predmet, lekcija.</p>
    <br>    
    <p>Korisnici ne bi trebalo da se oslanjaju samo na pitanja i odgovore u pripremi za svoje ispite i testove jer se može desiti da materijali na sajtu ne pokrivaju kompletno ili dovoljno određenu tematiku tako da sajt ne snosi krivicu ako dođe do loših rezultatima na testovima i ispitima. Dakle, ovaj sajt je samo pomoćno sredstvo u proveri znanja.</p>
    <br>    
    <p>Postavljanjem svojih sadržaja (pitanja, odgovori, linkovi, testovi, fajlovi itd.) korisnici prihvataju da se odriču svojih autorskih i vlasničkih prava na sadržaje postavljene na sajt kao i da postavljeni sadržaji nisu vlasništvo trećih lica.</p>
    <br>
    <p>Pogledati i: <a href="/sajt/privacy"><u>politiku privatnosti.</u></a></p>
  </div>

  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/footer2.ejs") %>
</body>
</html>