<html lang="sr">
  <%- include("../partials/header.ejs") %>
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="about content">
    <h2>Učitavanje fajla</h2>
    <h3 style="border:1px solid Tomato;">Stranica je u izradi...</h3>

    <p>Fajl se uspešno učitao.</p>
    <br>
   
  <br>
  <br>

  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/footer2.ejs") %>
</body>
</html>