<html lang="sr">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/nav.ejs") %>

  <h3>Izrada korisničkih testova</h3>

  <h4>Ako korisnik nije zadovoljan automatski kreiranim on-line testovima koje sistem pravi na osnovu unetih pitanja i odgovora korisnik može da vrši kreiranje svojih sopstvenih testova. Za svaku novi smer, predmet i oblast potrebno je napraviti novi test. Sistem omogućava do 30 pitanja u svakom testu i za svako pitanje 4 moguća odgovora od kojih je samo jedan tačan. Tokom upisa pitanja i odgovora obeležiti jedan od kružića <input type="radio" id="primer1" name="primer" value="primer1"> <input type="radio" id="primer2" name="primer" value="primer2"> ispod odgovora koji je tačan. Nakon što se test sačuva nije ga moguće menjati ali je moguće kreirati novi (recimo sa sa dodatkom rednog broja na naziv oblasti).</h4>

  <p>Umesto upisivanja testa preko obrasca možeš da nam pošalješ fajl sa testom. Mogu biti u sledećim formatima: xls, xlsx, ods. Primer fajla sa popunjenim testom imaš: <a href="/primer_sablon_test.xls" download><u>ovde.</u></a></p>
  <br>

  <div class="create-blog content">
    <form action="/c_test/create" method="POST">

      <button>Sačuvaj test<br>(nisu moguće izmene nakon upisa)</button>

      <label for="obrazovni_profil">* Obrazovni profil (smer):</label>
      <input type="text" maxlength="100" id="obrazovni_profil" name="obrazovni_profil" value="multimedija" required>

      <label for="razred">* Razred:</label>
      <input type="number" min="1" max="8" id="razred" name="razred" value=1 required>

      <label for="predmet">* Predmet</label>
      <input type="text" maxlength="100" id="predmet" name="predmet" value="matematika" required>

      <label for="oblast">* Oblast:</label>
      <input type="text" maxlength="100" id="oblast" name="oblast" value="sinusi" required>

      <label>Dodatni linkovi uz test (Wikipedia, YouTube i sl.):</label>
      <input type="text" maxlength="300" id="link1" name="link1" value="">
      <input type="text" maxlength="300" id="link2" name="link2" value="">
      <input type="text" maxlength="300" id="link3" name="link3" value="">

      <p>(* Prvo pitanje je obavezno za unos a ostala nisu.)</p>
      <% for (let i=1; i<31; i++) {%>

        <% let req = 'required'; if (i == 1) {req = 'required'} else {req = ''}; %>
        <!-- if petlja da bi samo prvo pitanje u formu bilo required a ostala ne -->

        <label for="pitanje_<%= i%>"><b>Pitanje <%= i%>:</b></label>
        <input type="text" maxlength="400" id="pitanje_<%= i%>" name="pitanje_<%= i%>" <%= req%>>

        <label for="odg_<%= i%>_1">Odgovor 1:</label>
        <input type="text" maxlength="300" id="odg_<%= i%>_1" name="odg_<%= i%>_1">
        <input type="radio" id="r_<%= i%>_1" name="r_<%= i%>" value="1" checked>

        <label for="odg_<%= i%>_2">Odgovor 2:</label>
        <input type="text" maxlength="300" id="odg_<%= i%>_2" name="odg_<%= i%>_2">
        <input type="radio" id="r_<%= i%>_2" name="r_<%= i%>" value="2">

        <label for="odg_<%= i%>_3">Odgovor 3:</label>
        <input type="text" maxlength="300" id="odg_<%= i%>_3" name="odg_<%= i%>_3">
        <input type="radio" id="r_<%= i%>_3" name="r_<%= i%>" value="3">

        <label for="odg_<%= i%>_4">Odgovor 4:</label>
        <input type="text" maxlength="300" id="odg_<%= i%>_4" name="odg_<%= i%>_4">
        <input type="radio" id="r_<%= i%>_4" name="r_<%= i%>" value="4">

      <% } %>
      <button>Sačuvaj test<br>(nisu moguće izmene nakon upisa)</button>
    </form>
  </div>
  <br>
  <br>

  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/footer2.ejs") %>
</body>
</html>