<html lang="sr">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/nav.ejs") %>

  <div class="blogs content"></div>

    <h4><%= h4_oprp %>:</h4>

    <table>
      <% if (podnaslovi.length > 0) { %>
        <% podnaslovi.forEach(podnaslov => { %>

          <tr><td style="border: 0px solid white;"><%= podnaslov[0] %>.</td></tr>

          <tr>
            <th>oblast</th>
            <td style="font-weight: bold;"><%= podnaslov[1] %></td>
          </tr>
          <tr style="font-size: small;">
            <td>link 1</td>
            <td><a href="<%= podnaslov[1] %>" target="_blank" rel="noopener noreferrer"><%= podnaslov[2] %></a></td>
          </tr>
          <tr style="font-size: small;">
            <td>link 2</td>
            <td><a href="<%= podnaslov[2] %>" target="_blank" rel="noopener noreferrer"><%= podnaslov[2] %></a></td>
          </tr>
          <tr style="font-size: small;">
            <td>link 3</td>
            <td><a href="<%= podnaslov[3] %>" target="_blank" rel="noopener noreferrer"><%= podnaslov[4] %></a></td>
          </tr>
          
          <tr><td style="border: 0px solid white; color: white;"></td></tr>

        <% }) %>
      <% } else { %>
        <p>Nema rezultata za podnaslove.</p>
      <% } %>
    </table>

    <h4>U donjem delu je spisak svih dostupnih pitanja za odabrane smer, razred, predmet i oblasti. Nemaju sva pitanja upisane odgovore i u slučaju da nema upisanog odgovora dugme za odgovor se neće pojaviti u opciji za nasumično ispitivanje.</h4>
    <p>Pitanja možete koristiti u vidu spiska a možete odabrati i da vas sistem ispituje pomoću nasumičnih pitanja ili pomoću automatski generisanog testa:</p>
    <br>

    <input type="radio" id="r_spisak" name="radio4" value="spisak" checked>
    <label id="radio_spisak" for="r_spisak">Spisak</label>
    <br>
    <input type="radio" id="r_ispitivanje" name="radio4" value="ispitivanje">
    <label for="r_ispitivanje">Nasumično ispitivanje</label>
    <br>
    <input type="radio" id="r_auto_test" name="radio4" value="auto_test">
    <label for="r_auto_test">Automatski test</label>
    <br>
    <br>


    <div id="t_spisak_js">

    </div>



    <div id="t_ispitivanje">

      <textarea
        id="i_pitanje" rows="7" cols="55"
        style="font-size: 16px; font-family: Arial, Helvetica, sans-serif;"
        readonly>
      </textarea>
      
      <br>
      
      <button class="button button1" id="i_odgovor" onclick="i_odgovor()">Odgovor</button>
      <button class="button button1" id="i_next" onclick="ispitivanje()">Sledeće pitanje</button>
      <table id="i_odgovor_tabela"></table>
      
    </div>



    <div id="t_auto_test">
      
    </div>



    <div id="t_auto_test_rezultat">

    </div>
    


  </div>

  <br>

  <script>

    let pitanja_tekst = '<%- JSON.stringify(predmeti_sr_ol_5) %>';
    let pitanja_sort = JSON.parse(pitanja_tekst);
    let bp = pitanja_sort.length; //broj pitanja

    let pitanje = '';
    let test = [];

    document.getElementById("radio_spisak").innerHTML = "Spisak pitanja: " + bp;
    document.getElementById("t_ispitivanje").style.display = "none";
    document.getElementById("t_auto_test").style.display = "none";
    //document.getElementById("t_auto_test_rezultat").style.display = "none";

    document.addEventListener('input',(e)=>{
      if(e.target.getAttribute('name')=="radio4")

        switch (e.target.value) {
          case 'spisak':
            document.getElementById("t_spisak_js").style.display = "block";
            document.getElementById("t_ispitivanje").style.display = "none";
            document.getElementById("t_auto_test").style.display = "none";
            document.getElementById("t_auto_test_rezultat").style.display = "none";
            break;
          case 'ispitivanje':
            document.getElementById("t_spisak_js").style.display = "none";
            document.getElementById("t_ispitivanje").style.display = "block";
            document.getElementById("t_auto_test").style.display = "none";
            document.getElementById("t_auto_test_rezultat").style.display = "none";
            ispitivanje();
            break;
          case 'auto_test':
            document.getElementById("t_spisak_js").style.display = "none";
            document.getElementById("t_ispitivanje").style.display = "none";
            document.getElementById("t_auto_test").style.display = "block";
            document.getElementById("t_auto_test_rezultat").style.display = "block";
            auto_test();
            break;
          default:
        }

    });


    spisak()


    function spisak () {

      let pitanja = [];
      pitanja = pitanja_sort;

      let tabela = '<table>';

      let broj_pitanja = 1;

      pitanja.forEach(obj => {

        tabela += '\
          <tr>\
            <th style="border: 0px solid white">' + broj_pitanja + '.</th>\
          </tr>';

        for (let property in obj) {

          if (property.includes('pitanje_')) {
            tabela += '\
            <tr>\
              <th>pitanje</th>\
              <td>' + obj[property] + '</td>\
            </tr>';
          }
          if (property.includes('odg_')) {
            tabela += '\
            <tr>\
              <th>odgovor</th>\
              <td>' + obj[property] + '</td>\
            </tr>';
          }

        }

        tabela += '<tr>\
            <td style="border: 0px solid white; color: white;">-</td>\
          </tr>';

        broj_pitanja++;

      });

      tabela += '</table><br><br>';

      document.getElementById("t_spisak_js").innerHTML = tabela;

    }


    function ispitivanje() {

      let pitanja = [];
      pitanja = pitanja_sort;

      document.getElementById("i_odgovor_tabela").style.display = "none";

      rnd_pitanje = rndInt(0, bp-1);
      let i_odgovor = document.getElementById("i_odgovor");

      pitanje = '';
      odgovor = '';

      // pitanja[rnd_pitanje]['pitanje_'+pitanje] ovo ne radi iz nepoznatog razloga

      for (property in pitanja[rnd_pitanje]) {
        if (property.includes('pitanje_')) {
          pitanje = pitanja[rnd_pitanje][property];
        }
        if (property.includes('odg_')) {
          odgovor = pitanja[rnd_pitanje][property];
        }
      }


      if (odgovor == '') {
        i_odgovor.style.visibility = "hidden";
      } else {
        i_odgovor.style.visibility = "visible";
      }

      document.getElementById("i_pitanje").innerHTML = (rnd_pitanje + 1) + '. ' + pitanje;

    }


    function i_odgovor() {

      let pitanja = [];
      pitanja = pitanja_sort;

      let tabela = '<tr><th>' + odgovor + '</th></tr>';

        if (document.getElementById("i_odgovor_tabela").style.display == "block") {
          document.getElementById("i_odgovor_tabela").style.display = "none";
        } else {
          document.getElementById("i_odgovor_tabela").style.display = "block";
        }

        document.getElementById("i_odgovor_tabela").innerHTML = tabela;
        //console.log('odgovor tabela: ', tabela);

    }


    function auto_test() {

      // preuzima test poslat od servera, prikazuje ga i korinik ga rešava

      let auto_test_html_form = '<%- auto_test_html_form %>';

      let auto_test_niz_tex = '<%- JSON.stringify(auto_test_niz) %>';
      test = JSON.parse(auto_test_niz_tex);

      let auto_test_bp_tex = '<%- auto_test_bp %>';
      bp = parseInt(auto_test_bp_tex);

      document.getElementById("t_auto_test").innerHTML = auto_test_html_form;
      
    }


    function pregled_testa () {

      let index_tacnog;
      let rez_testa = [];
      let send_form = new FormData();

      for (let i = 0; i < bp; i++) {
        let radio_skup = document.getElementsByName(i+1);
        for (let j = 0; j < 4; j++) {
          if (radio_skup[j].checked == true) {
            index_tacnog = parseInt(radio_skup[j].value);
          }
        }
        rez_testa[i] = {
          broj_pitanja: i,
          odabran: index_tacnog
        };
      }

      send_form.append('rez_testa', JSON.stringify(rez_testa));
      send_form.append('test', JSON.stringify(test));

      const xhttp = new XMLHttpRequest();
      xhttp.onload = function () {
        document.getElementById("t_auto_test_rezultat").innerHTML = xhttp.responseText;
      }
      //sa true tj. async nije htelo da radi tj. verovatno je sve moralo da bude u onload
      xhttp.open("POST", "../ajax?id=pregled_testa", false);
      //xhttp.setRequestHeader('Content-type', 'application/json');
      xhttp.send(send_form);

    }


    // daje random int uključujući min i max vrednosti
    function rndInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1) ) + min;
    }

  </script>

  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/footer2.ejs") %>

</body>
</html>