<html lang="sr">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/nav.ejs") %>

  <div class="blogs content">
    <h3>Zadaci</h3>

    
    <ul>
      <li><a href="zadaci/o1m_1_10">Сабирање и одузимање до 10 БРОЈЧАНИ задаци</a></li>
      <li><a href="zadaci/o1m_1_10txt">Сабирање и одузимање до 10 СМЕШНИ ТЕКСТУАЛНИ задаци :)</a></li>
      <br>
      <li><a href="zadaci/s1m_kombi">Društveno-jezički, prvi razred, matematika, kombinatorika</a></li>
    </ul>
    
    
  </div>

  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/footer2.ejs") %>
</body>
</html>